
img{
  width: 30%;
}

html{
background-color: wheat;
}

h1{
  font-size: 40px;
  text-align: center;
  color: crimson;
}

.cantante{
    margin-top: 20px;
    margin-left: 50px;
    border-radius: 100%;
    border: 10px double crimson;
  }
  .boton_1:hover{
    opacity: 0.6;
    text-decoration: none;
  }

  .datos{
    margin-top: 30px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 22px;
    text-align: center;
  }